
{:source-paths ["src"]
 :dependencies []
 :builds {:app {:output-dir "target/"
                :target :esm
                :asset-path "."
                :modules {:main {:init-fn app.main/main!}}}}}
