
{:source-paths ["src/cljs"]
 :dev-http {8080 "target/"}
 :dependencies [[reagent "1.1.0"]
                [cljsjs/react "17.0.2-0"]
                [cljsjs/react-dom "17.0.2-0"]]
 :builds {:app {:output-dir "target/"
                :target :esm
                :asset-path "."
                ; note initfn will be run on import
                ; expots 
                :modules {:cljs {:init-fn app.main/main!
                                 :exports {greeting app.main/greeting
                                           App app.main/App}}}}}}
